body,
html {
  margin: 0;
}

.__Fl-defaults__ {
  position: absolute;
  width: auto;
  height: auto;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  cursor: default;
  user-select: none;

  background-color: transparent;
  border: none;
  outline: none;
}

.__Fl-TextField__ {
  background-color: transparent;
  color: black;
  transition: border-color 0.1s ease-in;
}

.__Fl-TextField__:hover {
  cursor: text;
}

.__Fl-TextField-border__ {
  border-radius: 5px;
  border: 3px solid gray;
  background-color: white;
}

.__Fl-TextField-border__:focus {
  border-color: #1ba7ff;
}

.__Fl-Button__ {
  background-color: white;
  transition: border-color 0.1s ease-in, background-color 0.1s ease-in;
}

.__Fl-Button-border__ {
  border-radius: 6px;
  border: 3px solid gray;
  background-color: #fafafa;
}

.__Fl-Button-border__:hover {
  border-color: #1ba7ff;
  background-color: white;
}

.__Fl-Button-border__:active {
  border-color: #4ce4ff;
  background-color: #1ba7ff;
  color: white;
}

.__Fl-Button-active__ {
  background-color: #1ba7ff;
  border-color: gray;
  color: white;
}

.__Fl-Button-active__:hover {
  background-color: #1ba7ff;
  border-color: #4ce4ff;
}

.comments {
  color: #2086c7;
}
