body,
html {
  margin: 0;
}

.__FlashAPI-default-styles__ {
  position: absolute;
  width: auto;
  height: auto;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  cursor: default;
  user-select: none;

  background-color: transparent;
  border: none;
  outline: none;
}

.__FlashAPI-border-style__ {
  border-radius: 6px;
  border: 3px solid #1ba7ff;
}

.comments {
  color: #2086c7;
}
